li a {
    color: blue;
}

body {
    .imageCover {
        background: linear-gradient() #ffffff url("icone-engine.png") no-repeat fixed center;
        background-color: aquamarine;
        background-position: center; 
        color:black;
        background-size: cover;
    }
}

.boxLinGrad {
    background-image: linear-gradient(white, rgb(187, 248, 228));
    background-size: auto;
}
    
#grafo {
    width: 1440px;
    height: 900px;
    border: 1px solid lightgray;
  }
  
  p {
    max-width: 1600px;
  }
      